<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/css/style.css">

</head>

<body class="[ body ] [ grid ]">
    <header class="[ header ] [ flex ]">
        <div class="grid g-place-items-center">
            <img src="../../../public/assets/logo.png" alt="">
        </div>
        <nav class="flex margin-left-auto align-items-center">
            <ul class="[ nav__list ] [ flex ]">
                <li><a href="#" class="button" data-type="primary">Home</a></li>
                <li><a href="#" class="button" data-type="outline">Login</a></li>
            </ul>
        </nav>
    </header>


    <main class="main-content">
        <form action="#" method="POST" class="[ form ] [ flex f-direction-column ] [ box-shadow-1 ]" data-type="login">
            <h1 class="[ main-content__title ] [ text-align-center ] [ fs-600 fw-bold ]">Login</h1>
            <p>A empresa enviou-lhe os dados da conta, utilize-os aqui!</p>


            <div class="[ form__email ] [ flex f-direction-column f-gap-1 ]">
                <label for="email">Email:</label>
                <input type="text" class="[ input ] [ width-100 ]" id="email">
                <p class="[ input__error ] [ fs-200 italic ]"></p>
            </div>

            <div class="[ form__password ] [ flex f-direction-column f-gap-1 ]">
                <label for="password">Password:</label>
                <input type="password" class="[ input ] [ width-100 ]" id="password">
                <p class="[ input__error ] [ fs-200 italic ]"></p>
            </div>

            <input type="submit" class="[ button ] [ form__submit ]" data-type="primary" value="Login" />
        </form>
    </main>


</body>

</html>